<form class="col s12 m12 l12" name="formPet" enctype="multipart/form-data">
    <h5>Datos mascota</h5>
    <div class="row">
        <card class="center">
            <img class="z-depth-3" width="300" ng-src="{{pet.picUrl}}"/>
        </card>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="chipNumber" type="text" class="validate" ng-model="pet.chipNumber">
            <label class="active" for="chipNumber">Chip number</label>
        </div>
        <div class="input-field col s6">
            <input id="name" type="text" ng-model="pet.name">
            <label class="active" for="name">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="species" type="text" class="validate" ng-model="pet.species">
            <label class="active" for="species">Species</label>
        </div>
        <div class="input-field col s6">
            <input id="sex" type="text" class="validate" ng-model="pet.sex">
            <label class="active" for="sex">Sex</label>
        </div>
    </div>
    <div class="row">

        <div class="file-field input-field col s12">
            <div class="btn">
                <span>Imagen</span>
                <input type="file" name="uploadImg" id="uploadImg">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" ng-model="pet.picUrl">
            </div>
        </div>

        <div class="input-field col s12">
            <input id="race" type="text" class="validate" ng-model="pet.race"/>
            <label class="active" for="race" data-error="wrong" data-success="right">Race</label>
        </div>
    </div>
    <div class="row">

        <div class="input-field col s12">
            <input id="birthDate" type="text" class="datepicker" ng-model="pet.birthDate">
            <label class="active" for="birthDate">BirthDate</label>
        </div>

        <div class="input-field col s12">
            <textarea id="description" type="text" class="validate materialize-textarea"
                      ng-model="pet.description"></textarea>
            <label class="active" for="description" data-error="wrong" data-success="right">Description</label>
        </div>
    </div>

    <!-- button save -->

    <div ng-if="!action" class="fixed-action-btn horizontal">
        <button class="btn-floating btn-large red" data-ng-click="submit(formPet)">
            <i class="large material-icons">save</i>
        </button>
    </div>

    <div ng-if="action" class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large blue">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <button class="btn-floating  green" data-ng-click="submit(formPet)">
                    <i class="large material-icons">save</i>
                </button>
            </li>
            <li>
                <button class="btn-floating  red" data-ng-click="delete()">
                    <i class="large material-icons">delete</i>
                </button>
            </li>
        </ul>
    </div>
</form>

<script src="../../javascript/datepicker.js"></script>