<form class="col s12 m12 l12" name="formPet" enctype="multipart/form-data">
    <div class="row">

        <div class="parallax-container">
            <div class="parallax" parallax><img ng-src="{{pet.picUrl}}"></div>
        </div>
        <h2 class="center light-blue-text darken-2">{{pet.name}}</h2>
        <hr>
    </div>
    <div class="row">
        <my-input data-size="s6" data-idfor="chipNumber" data-type="text" data-model="pet.chipNumber"
                  data-label="Número de chip"/>
        <my-input data-size="s6" data-idfor="name" data-type="text" data-model="pet.name" data-label="Nombre"/>
    </div>
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">icon</i>
            <select id="select_species">
                <option ng-repeat="s in selectSpecies" value="{{s}}">{{s}}</option>
            </select>
            <label>Selecciona una especie</label>
        </div>
        <my-datepicker idfor="birthDate" data-size="s6" data-model="pet.birthDate" data-label="Fecha de cumpleaños"/>

    </div>
    <div class="row">
        <my-input data-size="s6" data-idfor="picUrl" data-type="text" data-model="pet.picUrl"
                  data-label="Url de la imagen"/>

        <my-input data-size="s6" data-idfor="race" data-type="text" data-model="pet.race" data-label="Raza"/>
    </div>
    <div class="row"> <label>Sexo</label>
        <div class="col s6 l6 m6 left-align" id="radiobuttons">
            <i class="material-icons prefix">icon</i>

            <input name="radio_sex" type="radio" id="radio_male" value="Macho"/><label for="radio_male">Macho</label>
            <input name="radio_sex" type="radio" id="radio_female" value="Hembra"/>
            <label for="radio_female">Hembra</label>
        </div>
        <my-textarea data-size="s6" data-idfor="description" data-type="text" data-model="pet.description"
                     data-label="Descripción"/>
    </div>

    <my-button ng-if="!action" data-size="large" data-color="orange waves-effect waves-light" data-icon="save"
               ng-click="submit(formPet)"/>
    <div ng-if="action" class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large orange">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <button class="btn-floating  green" data-ng-click="submit(formPet)">
                    <i class="large material-icons">save</i>
                </button>
            </li>
            <li>
                <button class="btn-floating  red" data-ng-click="delete()">
                    <i class="large material-icons">delete</i>
                </button>
            </li>
        </ul>
    </div>
</form>
<init-components></init-components>
