<form ng-class="{'col s12 m6 l6' : action == 'edit' , 'col s12 m12 l12' : action == 'create'}" name="formCustomer">

    <h5>Datos cliente</h5>
    <div class="row">
        <my-input data-size="s6" data-icon="account_circle" data-idfor="first_name" data-type="text" data-model="customer.firstName" data-label="Nombre" />
        <my-input data-size="s6" data-idfor="last_name" data-type="text" data-model="customer.lastName" data-icon="account_circle" data-label="Apellido" />
    </div>

    <div class="row">
        <my-input data-size="s6" data-idfor="dni" data-type="text" data-icon="chrome_reader_mode" data-model="customer.dni" data-label="Dni" />
        <my-input data-size="s6" data-idfor="phone" data-type="text" data-model="customer.phone" data-icon="phone" data-label="Telefono" />
    </div>

    <div class="row">
        <my-input data-size="s12" data-idfor="email" data-type="email" data-icon="contact_mail" data-model="customer.email" data-label="Email" />
        <my-textarea data-size="s12" data-idfor="note" data-type="text" data-model="customer.note" data-icon="event_note" data-label="Nota" />
    </div>
    <!-- button save -->
    <div class="row">
        <my-button data-size="large" data-icon="save" color="orange waves-effect waves-light" ng-click="submit(formCustomer)" />
    </div>
</form>
<div ng-if="action == 'edit'">
    <pet-module></pet-module>
</div>

<init-components></init-components>