<nav>
    <div class="nav-wrapper">
        <form>
            <div class="input-field light-blue darken-2">
                <input ng-model="search" id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>



<div class="collection">
    <a ng-repeat="cli in customersList | filter:search" href="edit/customers/{{cli._id}}" class="collection-item blue-text"><i class="material-icons">chrome_reader_mode</i> {{cli.dni}} <br><i class="material-icons">account_circle</i> {{cli.firstName}} {{cli.lastName}}</a>
</div>
<loader></loader>
<div class="row">
    <div class="action-btn">
        <a class="btn-floating btn orange" ng-href="create/customers">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>